<h1><%= t('session.login') %></h1>

<%= form_tag '/login' do %>

  <%= t('session.email') %> <%= text_field_tag :email %>
  <%= t('session.password') %> <%= password_field_tag :password %>
  <%= submit_tag t("session.submit") %>

<% end %>
