<h1>Editing User</h1>

<%= form_for @user do |f| %>
<div class= "row">
 <div class="col-sm-6">
  Name: <%= f.text_field :name, :class =>"form-control"%>
  Email: <%= f.text_field :email, :class =>"form-control" %>
  Current City: <%= f.text_field :current_city, :class =>"form-control"%>
  <%= f.submit "Submit", :class =>"btn btn-primary" %>
  <% end %>
  </div>
  </div>
  </br>
<%= link_to 'Back', @user, :class =>"btn btn-primary" %> 

