<h1><%=t('user.signup')%></h1>

<%= form_for :user, url: '/users', html: { multipart: true } do |f| %>

  <%= t('user.name_signup') %> <%= f.text_field :name %>
  <%= t('user.email_signup') %> <%= f.text_field :email %>
  <%= f.file_field :image %> 
  <%= t('user.current_city') %><%= f.text_field :current_city%>
  <%= t('user.password') %><%= f.password_field :password %>
  <%= t('password_confirmation') %><%= f.password_field :password_confirmation %>
  <%= f.submit t('user.submit') %>

<% end %>
