<p id="notice"><%= notice %></p>

<div class="row">
	<div class= "col-md-6 col-md-offset-3">

		<h2><%= @post.title.titleize %></h2><small><% if !@post.city_id.nil? %> <%= City.find(@post.city_id).name %> <% end %></small>
		<br>
		<p class="lead"><%= @post.body %></p>
		<footer><b><%= @post.created_at.strftime("  %D")%></footer>
		<hr>
		<%= link_to t('global.edit'), edit_post_path(@post), class: "btn"  %> 


	</div>
</div>	