<h1>New City</h1>

<%= form_for @city, html: { multipart: true } do |f| %>
	<div class="form-group">
	    <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: t('global.name') %>
	</div>
	<div class="form-group">  
		<%= f.text_field :nickName, class: "form-control focus",  placeholder: t('global.nickName') %>
	</div>
	<div class="form-group">  
		<%= f.file_field :image %>
	</div>
	<div class="form-group">
		<%= f.submit t('global.post'), class: "btn btn-primary" %>
	</div>
<% end %>

<%= link_to t('global.back'), cities_path %>
