<div class="row">
	<%= image_tag "#{@city.image}(:large)" %>
</div>
<div class="row" id="city-name">
	<%= t('global.city', city: @city.name) %>
</div>
<div class="row">

	<%= t('cities.nick_name', nick_name: @city.nickName) + ' / ' %>
	<%= link_to 'WikiTravel', "http://wikitravel.org/en/#{@city.name}" %><%= ' / ' %>
	<%= link_to t('cities.new_post'), new_post_path, class: "btn btn-primary btn-xs" %>

</div>
<br>
<div class="media">
	<% @posts.each do |p| %>
		<div class="thumbnail">
			<div class="media-left">
				<img class="media-object" src="https://image.freepik.com/free-icon/tall-buildings-in-a-city_318-41220.png" width="35">
			</div>
			<div class="media-body">
				<h4 class="media-heading"><%= link_to p.title, post_path(p.id) %></h4>
				<p><%= p.body %></p>
				<font size="1"><%= p.created_at.strftime("%A, %B %d") %></font>
			</div>
		</div>
	<% end %>
</div>