<!DOCTYPE html>
<html>
<head>
  <title><%= t('global.site_title')%></title>
  <link type="text/css" rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <a href="/"><%= image_tag "logo.png" %></a>
    </div>    
        <ul class="nav navbar-nav navbar-left">
        <% if current_user %>
            <li class="navbar-text">  <%= t('global.greet', user: current_user.name.titleize) %>!</li>
        <% end %>    
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to t('global.profile'), user_path(current_user) %></li>
            <li><%= link_to t('global.logout'), '/logout' %></li>
          <% else %>  
            <li><%= link_to t('global.login'), '/login' %></li> 
            <li><%= link_to t('global.signup'), '/signup' %></li>
          <% end %>

        </ul>
        
    </div>
  </div>  
</nav>

<% if flash[:notice] %>
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= flash[:notice] %>
</div>
<% end %>

<%= yield %>

</body>
</html>


      
    
     
   