<!DOCTYPE html>
<html>
<head>
  <title>Viaggio</title>
  <link type="text/css" rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" id="navbar-top">
  <div class="row" id="nav-row">
    <div class="col-sm-6" id="nav-title">
      <a href="/" class="pull-left"> <%= image_tag "logo.png" %></a>
    </div>
    <div class="col-sm-5" id="nav-login">
    	<% if current_user %>
    	  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
    	<% else %>
    	  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    	<% end %>
    </div>
  </div>
</nav>

<% if flash[:notice] %>
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= flash[:notice] %>
</div>
<% end %>

<%= yield %>

</body>
</html>
