<div class="banner">
	<div class="call-to-action">
		<br>
		<p>Explore cities and add your tips!</p>
	</div>
</div>
<br>
<center>
<div class="row">
	<div class="col-md-2 col-md-offset-1">
		<div>

			<%= image_tag "san-francisco-small.jpg", class: "city-small" %>
		</div>
		<div>
			<h3><%= link_to "San Francisco", "/cities/#{@sanfrancisco}"%></h3>
		</div>
	</div>
	<div class="col-md-2">
		<div>
			<%= image_tag "seattle-small.jpg", class: "city-small" %>
		</div>
		<div>
			<h3><%= link_to "Seattle", "/cities/#{@seattle}"%></h3>
		</div>
	</div>
	<div class="col-md-2">
		<div>
			<%= image_tag "santa-barbara-small.jpg", class: "city-small" %>
		</div>
		<div>
			<h3><%= link_to "Santa Barbara", "/cities/#{@santabarbara}"%></h3>
		</div>
	</div>
	<div class="col-md-2">
		<div>
			<%= image_tag "miami-small.jpg", class: "city-small" %>
		</div>
		<div>
			<h3><%= link_to "Miami", "/cities/#{@miami}"%></h3>
		</div>
	</div>
	<div class="col-md-2">
		<div>
			<%= image_tag "new-york-small.jpg", class: "city-small" %>
		</div>
		<div>
			<h3><%= link_to "New York", "/cities/#{@newyork}"%></h3>
		</div>
	</div>
	</center>