<div class="banner">
		<br>
		<div>
			<%= image_tag "logo-large-white.png", class: "logo-banner" %>
		</div>
		<p class="call-to-action">Explore cities and add your tips!</p>
</div>
<br>
<center>
<div class="row">
	<div class="col-md-2 col-md-offset-1">
		<div>
			<h3><%= link_to "San Francisco", "/cities/#{@sanfrancisco}"%></h3>
		</div>
		<div>
			<%= link_to(image_tag("san-francisco-small.jpg", class: "city-small"), "/cities/#{@sanfrancisco}") %>
		</div>
	</div>
	<div class="col-md-2">
		<div>
			<h3><%= link_to "Seattle", "/cities/#{@seattle}"%></h3>
		</div>
		<div>
			<%= link_to(image_tag("seattle-small.jpg", class: "city-small"), "/cities/#{@seattle}") %>
		</div>
	</div>
	<div class="col-md-2">
		<div>
			<h3><%= link_to "Santa Barbara", "/cities/#{@santabarbara}"%></h3>
		</div>
		<div>
			<%= link_to(image_tag("santa-barbara-small.jpg", class: "city-small"), "/cities/#{@santabarbara}") %>
		</div>
	</div>
	<div class="col-md-2">
		<div>
			<h3><%= link_to "Miami", "/cities/#{@miami}"%></h3>
		</div>
		<div>
			<%= link_to(image_tag("miami-small.jpg", class: "city-small"), "/cities/#{@miami}")%>
		</div>
	</div>
	<div class="col-md-2">
		<div>
			<h3><%= link_to "New York", "/cities/#{@newyork}"%></h3>
		</div>
		<div>
			<%= link_to(image_tag("new-york-small.jpg", class: "city-small"), "/cities/#{@newyork}") %>
		</div>
	</div>
</center>
	<footer>copywrite Viaggio 2016</footer>